/factory/factoryDP/factoryDP/Debug/factoryDP.tlog/link.read.1.tlog
/factory/factoryDP/factoryDP/Debug/factoryDP.tlog/link.write.1.tlog
/factory/factoryDP/factoryDP/Debug/main.obj
/factory/factoryDP/factoryDP/Debug/modelx.obj
*.tlog
*.obj
*.recipe
*.log
*.ilk
*.ipch
